body { padding: .3em .7em; }

@keyframes changed {
    0% { background-color: #ff0; }
  100% { background-color: #fff; }
}

.changed {
  animation: changed 1s ease-out;
}

.container {
  border: none;
  padding: 0;
  margin: 0;
}
.block .container {
  padding: 0 .5em;
}
.block {
  border: thin dashed #eee;
  padding: 0;
  margin: .2em 0;
}
.block:hover {
  border: thin dashed lightgray;
}
.block .content {
  padding: .3em .5em;
  margin: 0;
  white-space: pre-wrap;
}
.block .content .placeholder {
  color: lightgray;
  font-style: italic;
}
.container > .content,
.container > textarea {
  font-size: larger;
  font-weight: bold;
}
.block .tools {
  padding-left: .5em;
  color: lightgray;
  height: 22px;
}
.block > .tools a {
  opacity: .3;
}
.block:hover > .tools a {
  opacity: 1;
}
.block.container > .tools .dropdown:before {
  content: '';
}
.block > .tools .dropdown:before {
  content: '§ ';
}
.block.ul > .container > div > .block > .tools .dropdown:before {
  content: '— ';
  color: black;
  margin-left: -1em;
}
.block.ul > .container > div > .block {
  padding-left: 1em;
} 
.block .tools .buttons { 
  display: none;
  margin-right: 2px;
}
.block:hover > .tools .buttons { 
  display: block; 
}
.block .tools .buttons .glyphicon:hover {
  cursor: pointer;
  color: black;
}
.block .content:hover {
  background-color: #ffe;
}
.block .content {
  cursor: text;
}
.block textarea {
  border: none;
  shadow: none;
  outline: none;
  width: 100%;
  background: transparent;
  padding: .3em .5em;
}
.inserter {
  font-size: xx-small;
  text-align: center;
  color: lightgray;
}
.inserter:hover {
  background: #ffe;
  cursor: pointer;
  color: blue;
}





